@model List<Category>

@foreach (var category in Model)
{
    <Li>
        <div class="checkBoxFilter">
            <input type="checkbox" name="category">
            <span>@category.Name</span>
        </div>
        <p>(@category.Products.Count)</p>
    </Li>
}  