<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-list">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <p>/ Create Account</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="loginSection">
        <div class="container">
            <div class="login">
                <div class="login-left">
                    <h2>Create Account</h2>
                    <p>Please register below account detail</p>
                    <div class="loginForm">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="fname" placeholder="First Name">
                    </div>
                    <div class="loginForm">
                        <label for="fname">Last Name</label>
                        <input type="text" id="fname" name="fname" placeholder="Last Name">
                    </div>
                    <div class="loginForm">
                        <label for="fname">Email</label>
                        <input type="text" id="fname" name="fname" placeholder="Email">
                    </div>
                    <div class="loginForm">
                        <label for="lname">Password</label>
                        <input type="text" id="lname" name="lname" placeholder="Password">
                    </div>
                    <button>Create</button>
                </div>
                <div class="login-right">
                    <div class="loginAccount">
                        <h4>Already an account holder?</h4>
                        <a href="./login.html">Log in</a>
                    </div>
                    <p>* Terms & conditions.</p>
                    <div class="loginPrivacy">
                        <p>
                            Your privacy and security are important to us. For more information on how we use your
                            data read our <a href="">privacy policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>