@model List<Material>

@foreach (var material in Model)
{
    <Li>
        <div class="checkBoxFilter">
            <input type="checkbox" name="material" id="" value="@material.Name">
            <span>@material.Name</span>
        </div>
        <p>(@material.ProductMaterial.Count)</p>
    </Li>
}