<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-list">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <p>/ About us</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="aboutSection">
        <div class="container">
            <div class="about">
                <div class="about-main">
                    <h2>What we do?</h2>
                    <p>
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived
                        not
                        only five centuries, but also the leap into electronic typesetting, remaining essentially
                        unchanged.
                    </p>
                    <div class="aboutImg">
                        <img src="./assets/images/product1.webp" alt="product1">
                    </div>
                </div>
                <div class="about-desc">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries
                    </p>
                    <p>
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of letraset sheets containing lorem Ipsum
                        passages, and more recently with
                    </p>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. the point of using lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using
                    </p>
                    <p>
                        Content here, content here', making it look like readable english. many desktop publishing
                        packages and web page editors now use lorem Ipsum as their default model text, and a search
                        for 'lorem ipsum' will uncover many web sites still in their infancy.
                    </p>
                    <p>
                        Contrary to popular belief, lorem Ipsum is not simply random text. It has roots in a piece
                        of classical latin literature from 45 BC, making it over 2000 years old. richard mcclintock,
                        a latin professor at hampden-sydney
                    </p>
                    <p>
                        College in virginia, looked up one of the more obscure latin words, consectetur, from a
                        lorem Ipsum passage, and going through the cites of the word in classical literature,
                        discovered the undoubtable source. lorem Ipsum comes from sections
                    </p>
                    <p>
                        The standard chunk of lorem Ipsum used since the 1500s is reproduced below for those
                        interested. sections 1.10.32 and 1.10.33 from "de finibus bonorum et malorum" by cicero are
                        also reproduced in their
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>