@model List<Product>
<main>
    <div class="sliderSection">
        <div class="container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @await Component.InvokeAsync(nameof(Slider))
                    @*  <div class="swiper-slide">
                    <img src="~/Client/assets/images/sliderImg.webp" alt="sliderImg">
                    <div class="slide-desc">
                    <p>Fresh meat</p>
                    <h3>Spices for <br> cooking</h3>
                    <a asp-controller="Product" asp-action="Index">Shop Now</a>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <img src="~/Client/assets/images/sliderImg1.webp" alt="sliderImg">
                    <div class="slide-desc">
                    <p>Fresh & healthy</p>
                    <h3>Vegetable <br> basket free</h3>
                    <a asp-controller="Product" asp-action="Index">Order Now</a>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <img src="~/Client/assets/images/sliderImg2.webp" alt="sliderImg">
                    <div class="slide-desc">
                    <p>100% Organic</p>
                    <h3>Delicious <br> ingredients</h3>
                    <a asp-controller="Product" asp-action="Index">Shop Now</a>
                    </div>
                    </div> *@
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="bannerSection">
        <div class="container">
            <ul class="banner-wrap">
                <Li>
                    <img src="~/Client/assets/images/banners-1.webp" alt="banners">
                    <div class="bannerDesc">
                        <h3>Organic <br> Vegetables</h3>
                        <a asp-controller=" Product" asp-action="Index">Shop Now</a>
                    </div>
                </Li>
                <Li>
                    <img src="~/Client/assets/images/banners-2.webp" alt="banners">
                    <div class="bannerDesc secondBannerDesc">
                        <span>Delivery in 2 hours</span>
                        <h2>20%OFF</h2>
                        <h4>Free delivery on <br> orders above $100</h4>
                        <a asp-controller=" Product" asp-action="Index">Order Now</a>
                    </div>
                </Li>
                <Li class="bannerWrapLast">
                    <img src="~/Client/assets/images/banners-3.webp" alt="banners">
                    <div class="bannerDesc">
                        <h3>Organic <br> fresh fruit</h3>
                        <a asp-controller="Product" asp-action="Index">Shop Now</a>
                    </div>
                </Li>
            </ul>
        </div>
    </div>
    <div class="productSection">
        <div class="container">
            <div class="shopify-product">
                <h2>Our products <br> are fresh organic</h2>
                <div class="productList">
                    <ul>
                        <li>
                        <a href="" class="active">Organic dryfruit</a>
                        </li>
                        <li>
                        <a href="">Organic juice</a>
                        </li>
                        <li>
                        <a href="">Sea & fish</a>
                        </li>
                        <li>
                        <a href="">Pistachios</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="products">
                @await Component.InvokeAsync("Product")
                @* <div class="productItem">
                <div class="productImg">
                <span>10%</span>
                <a asp-controller="Product" asp-action="Detail">
                <img src="~/Client/assets/images/product1.webp" alt="product">
                <img src="~/Client/assets/images/product1-Hover.webp" class="hover DisplayNone"
                alt="productHover">
                </a>
                <div class="productIcon">
                <i class="fa-regular fa-heart heart"></i>
                <i class="fa-solid fa-cart-shopping shopBasket"></i>
                <a asp-controller="Product" asp-action="Detail">
                <i class="fa-regular fa-eye"></i>
                </a>
                </div>
                </div>
                <div class="productDesc">
                <p>Blackberry 100%organic</p>
                <div class="rating">
                <ul>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                </ul>
                </div>
                <div class="productPrice">
                <div class="newPrice">€18.00</div>
                <div class="oldPrice">€20.00</div>
                </div>
                </div>
                </div>
                <div class="productItem">
                <div class="productImg">
                <span>25%</span>
                <a asp-controller="Product" asp-action="Detail">
                <img src="~/Client/assets/images/product2.webp" alt="product">
                <img src="~/Client/assets/images/product2-Hover.webp" class="hover DisplayNone"
                alt="productHover">
                </a>
                <div class="productIcon">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping shopBasket"></i>
                <a asp-controller="Product" asp-action="Detail">
                <i class="fa-regular fa-eye"></i>
                </a>
                </div>
                </div>
                <div class="productDesc">
                <p>Fresh banana 100% safe</p>
                <div class="rating">
                <ul>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                </ul>
                </div>
                <div class="productPrice">
                <div class="newPrice">€15.00</div>
                <div class="oldPrice">€20.00</div>
                </div>
                </div>
                </div>
                <div class="productItem">
                <div class="productImg">
                <span>10%</span>
                <a asp-controller="Product" asp-action="Detail">
                <img src="~/Client/assets/images/product1.webp" alt="product">
                <img src="~/Client/assets/images/product1-Hover.webp" class="hover DisplayNone"
                alt="productHover">
                </a>
                <div class="productIcon">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping shopBasket"></i>
                <a asp-controller="Product" asp-action="Detail">
                <i class="fa-regular fa-eye"></i>
                </a>
                </div>
                </div>
                <div class="productDesc">
                <p>Blackberry 100%organic</p>
                <div class="rating">
                <ul>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                </ul>
                </div>
                <div class="productPrice">
                <div class="newPrice">€18.00</div>
                <div class="oldPrice">€20.00</div>
                </div>
                </div>
                </div>
                <div class="productItem">
                <div class="productImg">
                <span>25%</span>
                <a asp-controller="Product" asp-action="Detail">
                <img src="~/Client/assets/images/product2.webp" alt="product">
                <img src="~/Client/assets/images/product2-Hover.webp" class="hover DisplayNone"
                alt="productHover">
                </a>
                <div class="productIcon">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping shopBasket"></i>
                <a asp-controller="Product" asp-action="Detail">
                <i class="fa-regular fa-eye"></i>
                </a>
                </div>
                </div>
                <div class="productDesc">
                <p>Fresh banana 100% safe</p>
                <div class="rating">
                <ul>
                <li>
                <i class="fa-solid fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                <li>
                <i class="fa-regular fa-star"></i>
                </li>
                </ul>
                </div>
                <div class="productPrice">
                <div class="newPrice">€15.00</div>
                <div class="oldPrice">€20.00</div>
                </div>
                </div>
                </div> *@
            </div>
            <div class="productSection hidden">
                <div class="overlay hidden"></div>
                <div class="product">
                    <button id="close-search">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <div class="product-detail">
                        <div class="detail-img">
                            <div class="mainImg">
                                <i class="fa-solid fa-chevron-left mainImgIcon"></i>
                                <img src="~/Client/assets/images/product1.webp" alt="product1">
                                <i class="fa-solid fa-chevron-right mainImgIcon"></i>
                            </div>
                            <div class="detailImg-slider">
                                <img src="~/Client/assets/images/product1-Hover.webp" alt="">
                                <img src="~/Client/assets/images/product1.webp" alt="">
                                <img src="~/Client/assets/images/product2-Hover.webp" alt="">
                                <img src="~/Client/assets/images/product2.webp" alt="">
                            </div>
                        </div>
                        <div class="detail-info">
                            <h2>Blackberry 100%organic</h2>
                            <div class="line"></div>
                            <div class="rating">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="productPrice">
                                <div class="newPrice">€18.00</div>
                                <div class="oldPrice">€20.00</div>
                            </div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <div class="size-detail">
                                <h4>Size: <span>1kg</span> </h4>
                                <div class="sizeDetailList">
                                    <ul>
                                        <li class="SDetailLi">1kg</li>
                                        <li class="SDetailLi">2kg</li>
                                        <li class="SDetailLi">5kg</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="material-detail">
                                <h4>Material: <span>Canada</span> </h4>
                                <div class="materialDetailList">
                                    <ul>
                                        <li class="MDetailLi">Canada</li>
                                        <li class="MDetailLi">India</li>
                                        <li class="MDetailLi">Germany</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-quantity">
                                <p>Quantity:</p>
                                <div class="quantity-count">
                                    <button class="minusCount">-</button>
                                    <input type="number" value="1" class="counter">
                                    <button class="plusCount">+</button>
                                </div>
                            </div>
                            <div class="detail-btns">
                                <button>Add to cart</button>
                                <button>Buy it now</button>
                            </div>
                            <div class="detail-heart">
                                <i class="fa-regular fa-heart"></i>
                                <p>Wishlist</p>
                            </div>
                            <div class="line"></div>
                            <div class="detail-sku">
                                <h4>Sku: <span>123456</span></h4>
                            </div>
                            <div class="detail-share">
                                <h4>Share:</h4>
                                <ul>
                                    <li><i class="fa-brands fa-facebook-f"></i></li>
                                    <li><i class="fa-brands fa-twitter"></i></li>
                                    <li><i class="fa-brands fa-pinterest"></i></li>
                                </ul>
                            </div>
                            <div class="detail-checkout">
                                <img src="~/Client/assets/icons/visa.svg" alt="">
                                <img src="~/Client/assets/icons/paypal.svg" alt="">
                                <img src="~/Client/assets/icons/mastercard.svg" alt="">
                                <img src="~/Client/assets/icons/express.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="productModal hidden">
        <div class="overlay hidden"></div>
        <div class="productM">
            <button class="closeIcon">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="product-detail">
                <div class="detail-img">
                    <div class="mainImg">
                        <i class="fa-solid fa-chevron-left mainImgIcon previous"></i>
                        <img src="~/Client/assets/images/product1.webp" alt="product1" class="mainImage">
                        <i class="fa-solid fa-chevron-right mainImgIcon next"></i>
                    </div>
                    <div class="detailImg-slider">
                        <img src="~/Client/assets/images/product1.webp" alt="" class="slideImage active">
                        <img src="~/Client/assets/images/product2.webp" alt="" class="slideImage">
                        <img src="~/Client/assets/images/product3.webp" alt="" class="slideImage">
                        <img src="~/Client/assets/images/product4.webp" alt="" class="slideImage">
                    </div>
                </div>
                <div class="detail-info">
                    <h2>Blackberry 100%organic</h2>
                    <div class="line"></div>
                    <div class="rating">
                        <ul>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-regular fa-star"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="productPrice">
                        <div class="newPrice">€18.00</div>
                        <div class="oldPrice">€20.00</div>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                    <div class="size-detail">
                        <h4>Size: <span class="sizeSpan">1kg</span> </h4>
                        <div class="sizeDetailList">
                            <ul>
                                <li class="SDetailLi">1kg</li>
                                <li class="SDetailLi">2kg</li>
                                <li class="SDetailLi">5kg</li>
                            </ul>
                        </div>
                    </div>
                    <div class="material-detail">
                        <h4>Material: <span class="materialSpan">Canada</span> </h4>
                        <div class="materialDetailList">
                            <ul>
                                <li class="MDetailLi">Canada</li>
                                <li class="MDetailLi">India</li>
                                <li class="MDetailLi">Germany</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-quantity">
                        <p>Quantity:</p>
                        <div class="quantity-count">
                            <button class="minusCount">-</button>
                            <input type="number" value="1" class="counter">
                            <button class="plusCount">+</button>
                        </div>
                    </div>
                    <div class="detail-btns">
                        <button id="addToCart">
                            Add to cart
                        </button>
                        <button>Buy it now</button>
                    </div>
                    <div class="detail-heart">
                        <i class="fa-regular fa-heart"></i>
                        <p>Wishlist</p>
                    </div>
                    <div class="line"></div>
                    <div class="detail-sku">
                        <h4>Sku: <span>123456</span></h4>
                    </div>
                    <div class="detail-share">
                        <h4>Share:</h4>
                        <ul>
                            <li>
                                <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://x.com/"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://pinterest.com/"><i class="fa-brands fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="detail-checkout">
                        <img src="~/Client/assets/icons/visa.svg" alt="">
                        <img src="~/Client/assets/icons/paypal.svg" alt="">
                        <img src="~/Client/assets/icons/mastercard.svg" alt="">
                        <img src="~/Client/assets/icons/express.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="categorySection">
        <div class="container">
            <div class="shopify-category">
                <h2>Our categories</h2>
                <div class="sliderIcon">
                    <i class="fa-solid fa-chevron-left leftBtn"></i>
                    <i class="fa-solid fa-chevron-right rightBtn"></i>
                </div>
            </div>
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    @await Component.InvokeAsync("HomeCategory")
                    @* <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div>
                    <div class="swiper-slide">
                    <a asp-controller="Product" asp-action="Index">
                    <img src="~/Client/assets/images/category1.webp" alt="category1">
                    </a>
                    <div class="category-desc">
                    <p class="categoryDesc">Fresh meat</p>
                    <span class="categorySpan">+20 ITEM ></span>
                    </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="serviceArea">
        <div class="container">
            <div class="service">
                <ul>
                    <Li>
                        <i class="fa-solid fa-truck"></i>
                        <p>Free shipping</p>
                    </Li>
                    <Li>
                        <i class="fa-solid fa-lock"></i>
                        <p>Secure checkout</p>
                    </Li>
                    <Li>
                        <i class="fa-solid fa-rotate-right"></i>
                        <p>EASY returns</p>
                    </Li>
                    <Li>
                        <i class="fa-solid fa-pen-fancy"></i>
                        <p>100% organic</p>
                    </Li>
                </ul>
            </div>
        </div>
    </div>
</main>