<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-list">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Blog" asp-action="Default">/ News</a>
                    </li>
                    <li>
                        <p>/ Blog Brand</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="blogBrandSection">
        <div class="container">
            <div class="blogBrand">
                <div class="blogBrandImg">
                    <img src="~/Client/assets/images/blogImg.webp" alt="blogImg">
                </div>
                <h4>Fresh organic brand and picnic</h4>
                <div class="blog-info">
                    <ul>
                        <Li>
                            <i class="fa-regular fa-clock"></i>
                            <p>June 05, 2024</p>
                        </Li>
                        <Li>
                            <i class="fa-regular fa-user"></i>
                            <p>By <span>Spacing Tech</span></p>
                        </Li>
                        <Li>
                            <i class="fa-regular fa-comment"></i>
                            <p>0 <span>Comment</span></p>
                        </Li>
                    </ul>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing industry. Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu
                    sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam
                    felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede
                    justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret,
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Intege
                </p>
                <div class="blogImgDesc">
                    <img src="~/Client/assets/images/blogProfil.avif" alt="blogProfil">
                    <h5>Let the beauty of what you love be what you do.</h5>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters

                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour, or randomised words which don't look
                        even slightly believable.
                    </p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor.
                    Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat
                    massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
                    justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum.
                </p>
                <p class="blockquote">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor.
                    Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec,
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor.
                    Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat
                    massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
                    justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                    mollis pretium. Integer tincidunt. Cras dapibus.
                </p>
            </div>
            <div class="post-info">
                <i class="fa-solid fa-quote-left"></i>
                <p>Fresh organic brand and picnic</p>
                <h4>Spacing Tech</h4>
            </div>
            <div class="postInfo-tag">
                <ul>
                    <li>
                        <p>Fresh</p>
                    </li>
                    <li>
                        <p>Freshmeat</p>
                    </li>
                    <li>
                        <p>Green</p>
                    </li>
                    <li>
                        <p>Organic</p>
                    </li>
                    <li>
                        <p>Vagitable</p>
                    </li>
                </ul>
            </div>
            <div class="blog-share">
                <ul>
                    <li>
                        <a href="facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="twitter.com"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>