@model PaginateVm
<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-list">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <p>/ Shop</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-area">
        <div class="container">
            <div class="shop-main">
                <div class="shop-left">
                    <div class="closeIcon">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <div class="categoryFilter">
                        <h3>Categories</h3>
                        <div class="categoryFilterList">
                            <ul>
                                @await Component.InvokeAsync("Category")
                            </ul>
                        </div>
                    </div>
                    <div class="shopFilterCount">
                        <h3>Filter</h3>
                        <p>@Model.Products.Count products</p>
                    </div>
                    <div class="sizeFilter">
                        <h3>Size</h3>
                        <div class="sizeFilterList">
                            <ul>
                                @await Component.InvokeAsync("Size")
                            </ul>
                        </div>
                    </div>
                    <div class="materialFilter">
                        <h3>Material</h3>
                        <div class="materialFilterList">
                            <ul>
                                @await Component.InvokeAsync("Material")
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shop-right">
                    <h3>Organic dryfruit (@Model.Products.Count)</h3>
                    <img src="~/Client/assets/images/shopImg.webp" alt="shopImg">
                    <div class="shopSortFilter">
                        <div class="shopFilter">
                            <i class="fa-solid fa-filter"></i>
                            <p>Filter</p>
                        </div>
                        <div class="sortFilter">
                            <label for="sort">Sort by:</label>
                            <select id="sort">
                                <option value="featured">Featured</option>
                                <option value="selling">Best selling</option>
                                <option value="AZ">Alphabetically, A-Z</option>
                                <option value="ZA">Alphabetically, Z-A</option>
                                <option value="priceLowHigh">Price, low to high</option>
                                <option value="priceHighLow">Price, high to low</option>
                            </select>
                        </div>
                    </div>
                    <div class="products">
                        @await Component.InvokeAsync("ProductMain")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="productModal hidden">
        <div class="overlay hidden"></div>
        <div class="productM">
            <button id="close-search">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="product-detail">
                <div class="detail-img">
                    <div class="mainImg">
                        <i class="fa-solid fa-chevron-left mainImgIcon"></i>
                        <img src="~Client/assets/images/product1.webp" alt="product1">
                        <i class="fa-solid fa-chevron-right mainImgIcon"></i>
                    </div>
                    <div class="detailImg-slider">
                        <img src="~/Client/assets/images/product1.webp" alt="" class="slideImage active">
                        <img src="~/Client/assets/images/product2.webp" alt="" class="slideImage">
                        <img src="~/Client/assets/images/product3.webp" alt="" class="slideImage">
                        <img src="~/Client/assets/images/product4.webp" alt="" class="slideImage">
                    </div>
                </div>
                <div class="detail-info">
                    <h2>Blackberry 100%organic</h2>
                    <div class="line"></div>
                    <div class="rating">
                        <ul>
                            @foreach (var product in Model.Products)
                            {
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <li>
                                        @if (i <= product.Rating)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-star"></i>
                                        }
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="productPrice">
                        @foreach (var product in Model.Products)
                        {
                            @if (product.DiscPrice > 0)
                            {
                                <span>₼@product.DiscPrice</span>
                                <span class="oldPrice">₼@product.SellPrice</span>
                            }
                            else
                            {
                                <span>₼@product.SellPrice</span>
                            }
                        }
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                    <div class="size-detail">
                        <h4>Size: <span>1kg</span> </h4>
                        <div class="sizeDetailList">
                            <ul>
                                @await Component.InvokeAsync("Size")
                            </ul>
                        </div>
                    </div>
                    <div class="material-detail">
                        <h4>Material: <span>Canada</span> </h4>
                        <div class="materialDetailList">
                            <ul>
                                @await Component.InvokeAsync("Material")
                            </ul>
                        </div>
                    </div>
                    <div class="item-quantity">
                        <p>Quantity:</p>
                        <div class="quantity-count">
                            <button class="minusCount">-</button>
                            <input type="number" value="1" class="counter">
                            <button class="plusCount">+</button>
                        </div>
                    </div>
                    <div class="detail-btns">
                        <button>Add to cart</button>
                        <button>Buy it now</button>
                    </div>
                    <div class="detail-heart">
                        <i class="fa-regular fa-heart"></i>
                        <p>Wishlist</p>
                    </div>
                    <div class="line"></div>
                    <div class="detail-sku">
                        <h4>Sku: <span>123456</span></h4>
                    </div>
                    <div class="detail-share">
                        <h4>Share:</h4>
                        <ul>
                            <li><i class="fa-brands fa-facebook-f"></i></li>
                            <li><i class="fa-brands fa-twitter"></i></li>
                            <li><i class="fa-brands fa-pinterest"></i></li>
                        </ul>
                    </div>
                    <div class="detail-checkout">
                        <img src="~Client/assets/icons/visa.svg" alt="">
                        <img src="~Client/assets/icons/paypal.svg" alt="">
                        <img src="~Client/assets/icons/mastercard.svg" alt="">
                        <img src="~Client/assets/icons/express.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>