@model List<BasketItemVm>
@{
    decimal totalPrice = Model.Sum(x => x.Count * x.Price);
}


<main>
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-list">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <p>/ Your Shopping Cart</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="basketSection">
        <div class="container">
            <div class="basket">
                <div class="basket-table">
                    <div class="basket-header">
                        <ul>
                            <li>
                                <p>Product</p>
                            </li>
                            <li>
                                <p>Quantity</p>
                            </li>
                            <li>
                                <p>Total</p>
                            </li>
                        </ul>
                    </div>
                    <div class="basketList">
                        <ul>
                            <li class="basketListLi">
                                <div class="item-media">
                                    <div class="media-img">
                                        <a href="./product.html">
                                            <img src="./assets/images/product1.webp" alt="product1">
                                        </a>
                                    </div>
                                    <div class="media-info">
                                        <div class="media-title">
                                            <a href="./product.html">Fresh apple (5kg)</a>
                                        </div>
                                        <div class="media-price">
                                            <p class="discPrice">€14.00</p>
                                            <p class="sellPrice">€20.00</p>
                                        </div>
                                        <div class="media-size">
                                            <span>Size:</span>
                                            <p>2kg</p>
                                        </div>
                                        <div class="media-material">
                                            <span>Material:</span>
                                            <p>India</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-quantity">
                                    <div class="quantity-count">
                                        <button class="minusCount">-</button>
                                        <input type="number" value="1" class="counter">
                                        <button class="plusCount">+</button>
                                    </div>
                                    <div class="quantity-icon">
                                        <i class="fa-regular fa-trash-can removeBtn"></i>
                                    </div>
                                </div>
                                <div class="item-total">
                                    <p>@totalPrice</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="discount-content">
                    <div class="discount-block">
                        <i class="fa-solid fa-gift"></i>
                        <input type="text" placeholder="Discount code">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <a href="">Return to store</a>
                </div>
                <div class="cart-note">
                    <p>Order special instructions</p>
                    <textarea name="" id="" rows="5" placeholder="Order special instructions"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="notProduct">
        <p>Your wishlist is empty <a href="./shop.html">Return to store</a></p>
    </div>
</main>