@model ProductSearchVm

<div class="search">
    <button id="close-search">
        <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="search-title">
        <h2>What are you looking for?</h2>
    </div>
    <div class="search-input">
        <input type="text" placeholder="Search our store">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</div>