@model List<Category>

@foreach (var category in Model)
{
    <div class="swiper-slide">
        <a asp-controller="Product" asp-action="Index">
            <img src="~/Client/assets/images/category1.webp" alt="category1">
        </a>
        <div class="category-desc">
            <p class="categoryDesc">@category.Name</p>
            <span class="categorySpan">@category.Products.Count category ></span>
        </div>
    </div>
} 